$color-gradient-primary: rgb(30, 115, 172);
$color-gradient-secondary: rgb(142, 57, 153);

$color-primary: #4c5f9a;
$color-secondary: #64495e;
$color-tertiary: #d5808e;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//grid
$grid-width: 95rem;
$gutter-vert: 4rem;
$gutter-vert-sm: 3rem;
$gutter-horiz: 5rem;

$default-font-size: 1.6rem;
